body{
    justify-content: center;
    background-color: #000;
}
.container{
    display: flex;
    justify-content: center;
}
.tarjeta1 {
    top: 15vh;
    width: 60vh;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #000, #272727);
  }
  
  .tarjeta1:before, .tarjeta1:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00fff7,#ffff00, #ff0000, #fb0094, 
          #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
  }
  
  @keyframes steam {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .tarjeta1:after {
    filter: blur(50px);
  }
  .titulo{
    position: absolute;
    top: -1%;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, rgb(68, 0, 255), rgb(255, 0, 123),rgb(244, 0, 0));
    margin-bottom: 1rem;
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    z-index: 2;
    text-align: center;
    font-family: 'Creepster', cursive;;
  }
  p{
    position: absolute;
    top: 16%;
    text-align: center;
    font-size: 2vh;
  }

  .video-container {
   
    position:relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    max-width: 100%;
    border-radius: 10px;
}
.responsive-video {
    position: relative;
    top: 34vh;
    left: 20vh;
    width: 40%;
    height: 100%;
}
  
  